.layout {
	width: 100%;
	height: 100%;

	&-header {
		&-background {
			background-color: #fff;
			line-height: 48px;
			height: 48px;
		}
		.trigger {
			padding: 0 20px;
			font-size: 18px;
			flex-shrink: 0;
			flex-grow: 0;
			color: @primary-color;
			transition: all 0.3s;
			&:hover {
				color: #151515;
			}
		}
		&-top {
			display: flex;
			height: 48px;
			box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
			&-menu {
				padding-left: 15px;
				flex-shrink: 1;
				flex-grow: 1;
				overflow: auto;
				.top-menu {
					height: 47px;
				}
			}
			&-roght {
				flex-shrink: 0;
				flex-grow: 0;
			}
		}
		.layout-content {
			margin: 15px;
			padding: 8px;
			background-color: #ffffff;
		}
		.breadcrumb {
			display: flex;
			align-items: center;
			padding: 15px 0;
			&-icon {
				margin-right: 4px;
			}
		}
	}
	.siderbar {
		overflow: hidden;
		background-color: @primary-color;
		.logo {
			padding: 8px 0 0 24px;
			width: 200px;
			height: 48px;

			&-icon {
				font-size: 32px;
				color: #fff;
			}
			&-title {
				position: relative;
				top: 0px;
				left: 24px;
				font-size: 22px;
				color: #fff;
			}
		}
		.ant-menu {
			background: @primary-color;
			.ant-menu-sub {
				background: @primary-color;
			}
		}
	}
}
